* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat";
}

.Biografia {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(https://cdn.pixabay.com/photo/2016/11/30/20/44/computer-1873831_1280.png);
  background-size: cover;
}

.cont-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}

.cont-f {
  height: 100vh;
}

.cont-formacion {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 10px;

}